@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Set Images Properly with max-width */
img {
  max-width: 100%; /* [1] */
  height: auto; /* [1] */
  vertical-align: middle; /* [2] */
  font-style: italic; /* [3] */
  background-repeat: no-repeat; /* [4] */
  background-size: cover; /* [4] */
  shape-margin: 0.75rem; /* [5] */
}

body {
  color: hsl(243, 87%, 12%);
  font-family: "Open Sans";
}

.wrapper-head {
  max-width: 1200px;
  /* width: 100%; */
  margin: 0 auto;
}
.wrapper {
  max-width: 1200px;
  /* width: 100%; */
  margin: 5rem auto;
}

.nav-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;

}

.nav-links ul li a {
  text-decoration: none;
}

.nav-links ul li a:hover {
  color: rgb(74, 127, 189);
}

.hero {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.first-hero-box {
  width: 50%;
}

.second-hero-box {
  width: 50%;
}

h2 {
  font-size: 45px;
  font-weight: 700px;
  font-family: "Raleway";
  padding-bottom: 25px;
}

p {
  font-size: 20px;
  font-family: "Open Sans";
}

.p {
  margin-top: 11px;
}

.inputbox {
  width: 50%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}
::placeholder {
  color: hsl(240, 26%, 87%);
}

button {
  margin-left: 0.6rem;
  width: 30%;
  margin-top: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: hsl(224, 93%, 58%);
  border: none;
  border-radius: 3px;
  color: white;
  font-family: "Raleway";
  cursor: pointer;
}

button:hover{
  background-color:rgb(74, 127, 189)
}

.hero2 {
  background-image: url(./Images/bg-curve-desktop.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 100px; /*changed*/
  padding-bottom: 150px; /*changed*/
}

.img2-container {
  margin-left: 20px;
}

.fylo-link {
  font-size: 20px;
  font-family: "Open Sans";
  margin-top: 10px;
}
.fylo-link a {
  color: hsl(170, 45%, 43%);
}

.fylo-link a:hover{
  color: rgb(74, 127, 189);
}
.quote {
  height: 255px;
  width: 450px;
  background-color: #ffff;
  box-shadow: 1px 2px 10px #e2e2e2;
  padding: 40px 20px;
  margin-top: 55px;
  border-radius: 5px;
}

.testimonial {
  display: flex;
  margin-top: 30px;
}
.testimonial > img {
  width: 35px;
  border-radius: 50%;
}

span {
  font-size: 10px;
}

.testimonial > div {
  margin-left: 9px;
}

h5 {
  font-family: "Raleway";
}

.hero3 {
  background: hsl(238, 22%, 44%);
  color: #ffff;
  /* padding-left: 50px; */
  /* padding-bottom: 10px; */
}

.h {
  font-size: 30px;
}

.p3 {
  font-size: 14px;
}
.hero-down {
  margin-top: 0px;
  padding: 90px;
}

.second-input-btn {
  display: flex;
  flex-direction: column;
  margin-left: 250px;
}

.input-display {
  width: 86%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.button2 {
  margin-top: 12px;
  margin-left: 1px;
  width: 39%;
  cursor: pointer;
}

.button2:hover{
  background-color:rgb(74, 127, 189);
}




/* footer section */

.sm-handle a {
  color: rgb(9, 9, 221);
  font-size: 20px;
}

footer {
  background-color: hsl(243, 87%, 12%);
  color: #ffff;
}

.ft-a {
  color: #ffff;
  text-decoration: none;
}

.ft-a:hover {
  color: rgb(74, 127, 189); 
}

.footer-container {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  padding: 90px 5px;
  margin-left: 70px;
}
.footer-logo img {
  filter: brightness(0) invert(1);
  margin-top: 10px;
}

.footer-logo {
  display: flex;
  flex-direction: column;
}

.footer-logo span {
  margin: 4px;
  font-size: 12px;
}

.footer-container ul {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.footer-img {
  margin-right: 12px;
}

.sm-handle {
  display: flex;
  gap: 25px;
  margin-right: 280px;
}

.sm-handle i:hover {
  border: 1px solid rgb(74, 127, 189);
}



/*---media query for mobile*/

@media only screen and (max-width: 600px) {
  header {
    padding: 0 1rem;
  }
  .nav-logo img {
    width: 90px;
  }

  .nav-links ul{
    font-size: 0.9em;
  }

  .hero {
    flex-direction: column;
    padding: 0 2rem;
  }

  .first-hero-box,
  .second-hero-box {
    width: 100%;
  }

  .order2 {
    order: 2;
  }

  .first-hero-box h2 {
    font-size: 1.4em;
    text-align: center;
    margin-top: 2.5rem;
    line-height: 2rem;
  }

  .first-hero-box p {
    font-size: 15px;
    text-align: center;
  }

  .inputbox {
    width: 100%;
    margin-top: 2rem;
  }

  button {
    width: 100%;
    margin-left: 0;
  }

  .order4 {
    order: 4;
  }

  .img2-container {
    width: 101%;
  }

  .hero2 {
    padding-top: 30px;
    shape-margin: 2rem;
    padding-bottom: 0;
  }

  .first-hero-box .h2-mobile {
    font-size: 1em;
  }

  .first-hero-box .p2-mobile {
    text-align: left;
  }

  .first-hero-box .p3-mobile {
    text-align: left;
  }

  .fylo-link {
    margin-top: 2rem;
  }

  .fylo-link a {
    margin-left: 5rem;
    font-size: 0.8rem;
  }

  .quote {
    height: 230px;
    width: 300px;
    margin-top: 45px;
    padding-top: 1rem;
    margin-left: 0.4rem;
  }

  .p3-mobile {
    font-size: 1rem;
    
  }

  .first-hero-box h2 {
    font-size: 1.5rem;
    line-height: 2.2rem;
    margin-top: 4rem;
  }
  .first-hero-box p {
    margin-bottom: 1.5rem;
  
  }

  .hero3 {
    height: 21rem;
  }

  .p3{
    font-weight: 200;
    line-height: 1.5em;
  }

  .second-input-btn {
    margin-right: 150px;
    margin-left: 30px;
  }

  .input-display {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    width: 81%;
  }

  .button2 {
    width: 80%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    font-size: 0.7em;
  }
  ::placeholder {
    font-size: 0.8em;
  }

  footer {
    height: 55rem;
  }

  .footer-container2 {
    display: flex;
    margin: auto;
    align-items: flex-start;
    width: 85%;
    flex-direction: column;
  }

  .sm-handle {
    margin-left: 5.5rem;
  }

  .sm-handle a {
    font-size: 1.6em;
  }

  .footer-logo .span1 {
    margin-top: 1.5rem;
  }

  .span1 .footer-img {
    margin-top: 5px;
  }

  .footer-logo img {
    margin-bottom: 10px;
  }
}
